*.aliases
/XDisplay/configtest/*.xdcnf
/*.cfg
/XDisplay/*.cfg
/sett.cnf
/*.lvlps
/POLARIS Programme/FF Target IN POLARIS Vision.vi.cfg
/POLARIS Programme/FF Target IN.vi
/POLARIS Programme/Fokusgroeße NEU.vi
/POLARIS Programme/TA FF in POLARIS Vision.ico
/POLARIS Programme/TA Focus POLARIS Vision.ico
/POLARIS Programme/Target Focus POLARIS Vision.vi.cfg
/*.FP
*.FP
*.cfg
